@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Mitr', sans-serif !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #f9a8d4;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ec4899;
}

html {
    scroll-behavior: smooth;
}